header{
    background-color: rgb(12, 83, 131);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-cart {
    background-color:cadetblue;
    margin-bottom: 30px;
    cursor: pointer;
    margin-right: 50px;
    margin-top: 10px;
}
.container {
    display: flex;
}
.products {
    justify-content: space-between;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}
.product-item {
    background-color: beige;
    color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.buy-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
